*.log
.DS_Store
node_modules

# Bundle + media files
public/dist/bundle.js
public/assets/media/*jpg

*.csv
*.csv.gz

## secrets
.env
*.pem
newrelic.js

## Dev for SSR
server/views/components/
server/views/image.css
server/views/server.js
